body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.sectitle{
    text-align: center;
}
.title2{
    font-size: 32px;
}
.topdiv{
    background-color: black;
    width: 60%;
    margin-left: 20%;
    color: white;
    padding-left: 20px;
}

.maindiv{
    display: flex;
    margin-left: 20%;
}
.profile-card {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ddd;
    text-align: center;
    height: 50%;
    width: 10%;
}

 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.feed {
    margin: 1rem;
    width: 80%;
}

.post {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    width: 50%;
}

 h2 {
    margin: 0;
    font-size: 1.2rem;
 }

p {
    clear: both;
}

span {
    display: block;
    margin-top: 0.5rem;
}

button {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;

}


























.top{
    display: flex;
    align-items: center;
    }
    
    .head{
        margin: 0px 0px 0px 5%;
     }
    
    
    .like_side{
        display: flex;
        justify-content: space-between;
        margin-left: 40% ;
        align-items: center;
    }
    
    .btn{
        margin-left: 10px;
        width: 60px;
        height: 30px;
        background-color: orange;
        color: white;
        box-shadow: 3px 3px 2px black;
    }
    .btn:hover {
       background-color: orange}
    
    
    .btn:active {
       background-color: orange;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    
    
    
    #LikesLabel1 , #LikesLabel2, #LikesLabel3{
        margin-right: 20px;
    }
    
    
    .p_div{
        margin-left: 5%;
    }
    
    
    
    
    