h1{text-align: center;
font-size:40px;}
*{margin: 1%;}
#pic1, #pic2, #pic3, #pic4, #pic5, #pic6, #pic7, #pic8
{height:200px ;
width:200px ; } 
.group-1{
background-color: aqua;
display: flex;
    justify-content:space-between;
}
.group-2{
    background-color: lightcoral;
    display: flex;
    justify-content:space-evenly;
}
.group-3{
    display: flex;
    justify-content:space-around;
}
p{font-size: 20;
text-align: center;}