<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>highscore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>highscore</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Attempts</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in highscore %}
                    <tr>
                        <td>{{ entry.name }}</td>
                        <td>{{ entry.attempts }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Play Again</a>
    </div>
</body>
</html>
