body {margin: 1cm ;
}
#searchB { border-radius: 20em;
    padding: 0.7em 1.4em 0.7em 1.1em;
    width: 100px;
    
    border-color: rgb(29, 156, 149);
    color:green;
   }
#plusB {border-radius: 50%;
    border: 10;
    width:50px; 
    height:50px ;
    color:white;
    border-color: rgb(29, 156, 149);
    background-color:rgb(29,150,149) ;
    outline: 0;
}
#creatB { 
background-color: rgb(66, 66, 190);
color: white;
box-shadow:  2px 2px 2px rgb(0, 0, 0);
height: 50px;
width: 100px;
}