h1 {background-color: black; 
    text-align: left;
    padding-left:25px;
}
#my {color:white; }
#cloud {color: cyan;}
h2 {background-color: purple;
color: white;
 text-align: center; 
font-style: italic;}
h3 {color: blueviolet; 
    background-color: rgb(57, 120, 189);
    text-decoration: underline; 
    text-align: right;
padding-right:25px;}
