.row {display: flex;
justify-content: space-between;
align-items: center;
text-align:center ;

}
.col{background-color: aquamarine;
    flex: 1;
   margin:2%;
   height: 100px;
   align-content: center;
   
}
.co2{background-color: aquamarine;
flex: 2;
margin: 2%;
height: 100px;
align-content: center;
}
.co3{
    background-color: aquamarine;
flex: 3;
height: 100px;
align-content: center;

}
