
*{margin:10px 10px 10px 10px ;}
.container{
    width: 950px;
    background-color: silver;
    margin:auto;
    padding-top:5px;
    

}
.top-nav {
    height: 150px;
    background-color: green;
    margin-top: 10px;
}
.side-nav {
    height:300px;
    width: 200px;
    background-color: blue;
    
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    padding-left: 5px;
    
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-left: 3%;
    
    
}
.row {
display: flex;
}
