/* main font*/

h1 , h2 ,p {
    font-family: 'Roboto';
}
 
/*main setting */
*{
    margin: 0px;
padding: 0px;
  border: 0px;

}
body{
    position: relative;
    left: 15%;
    right: 15%;
}


    /* navbar style */

    .titlediv{
        width: 70%;
        height: 60px;
        display: flex;
        justify-content: space-around;
        background-color: rgb(133, 130, 130);
        align-items: center;
        }

        .searchbox{
            width: 150%;
            height: 25px
        }
        /*login btn*/
        .loginbtn{
            width: 5%;
            height: 25px;
            color: white;
            background-color: blue;
            box-shadow: 3px 3px 3px black;
        }
        .loginbtn:hover {
            background-color: blue}


        .loginbtn:active {
            background-color: blue;
             box-shadow: 0 5px #666;
             transform: translateY(4px);
        }
        

/* contact main div  */
.bodydiv{
    
 
    
}

    /* main left side div */
    .leftdiv{
      
    }
        /*left up div */
        .leftupdiv{
            margin-top: 2%;
            border: 2px;
            border-style:solid;
            border-color: black;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 40%;
            height: 200px;
        }
            .LULdiv{  /*left top first div*/ 
            display: inline-block;
            }
                /*button inside first box, first likes btn*/
                 .Firstlikesbtn{
                    margin-top: 20%;
                    width: 90%;
                    height: 25px;
                    text-align: center;
                    background-color: orange;
                    box-shadow: 3px 3px 2px black;
                 }
                 .Firstlikesbtn:hover {
                    background-color: orange}
    
    
                .Firstlikesbtn:active {
                    background-color: orange;
                     box-shadow: 0 5px #666;
                     transform: translateY(4px);
                }
        
                 /*left indside top /secound div*/ 
                    .LUR { 
                  display: inline-block;
                
                 }
                .em{
                    margin-left: 10%;
                }
        /*left bottem div */  
        .LBLdiv{
            margin-top: 2%;
            border: 2px;
            border-style:solid;
            border-color: black;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 40%;
            height: 200px;
        }

            /* left bottem first div */
            .LBLFirstdiv{
                display: inline-block;

            }
            /*button inside bottem first box, secound likes btn*/
            .secoundlikesbtn{
                margin-top: 20%;
                width: 60%;
                height: 25px;
                text-align: center;
                background-color: orange;
                box-shadow: 3px 3px 2px black;
            }
            .secoundlikesbtn:hover {
                background-color: orange}


            .secoundlikesbtn:active {
                background-color: orange;
                 box-shadow: 0 5px #666;
                 transform: translateY(4px);
            }

    /* main right side div */
    .main-right-side.{
        display:flex;
        width: 20%;
        position: relative;
        
       
    }
            
        .rightdiv{
            margin-top: 2%;
            border: 2px;
            border-style:solid;
            border-color: black;
            display: inline;
            align-items: center;
            gap: 40px;
            width: 25%;
            height: 150px;
            position: absolute;
            top:11.5%;
            right: 30%;
            padding: 20px 0px 0px 20px ;
        }
             .rightsidebtn{
                width: 60%;
                height: 25px;
                text-align: center;
                background-color: green;
                box-shadow: 3px 3px 2px black;
             }
             /*btn should hide*/ 
                .rightsidebtn:hover {
                    background-color: #3e8e41}


                .rightsidebtn:active {
                    background-color: #3e8e41;
                     box-shadow: 0 5px #666;
                     transform: translateY(4px);
                }

             
             .bolded{
                font-weight: bold;
                
             }
           





