<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
</head>
<body>
    <h1>Courses</h1>
    <form method="post" action="{% url 'add_course' %}">
        {% csrf_token %}
        <label for="name">Course Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="description_content">Description:</label>
        <textarea id="description_content" name="description_content" required></textarea><br>

        <button type="submit">Add Course</button>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2>All Courses</h2>
    <ul>
        {% for course in courses %}
            <li>{{ course.name }}{{description_conten}} - <a href="{% url 'delete_course' course.id %}">Remove</a></li>
        {% endfor %}
    </ul>
</body>
</html>
