.nav {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    padding: 0px 20px 0px 20px;


}

.nav-links {
    flex: 1;

    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;




}

.btn {
    background-color: rgb(41, 41, 168);
    box-shadow: 3px 3px 3px rgb(41, 41, 168);
    color: white;
    width: 100px;
    height: 25px;
}

.navbarlink {
    text-decoration: none;
    color: white;
}

.active {
    font-weight: bold;
    font-family: 'Roboto'
}

h1 {
    font-family: 'Roboto'
}

.nav-title {
    flex: 1;
    color: white;
}

#main {
    width: 600px;
    height: 400px;

    position: relative;
}

#top {
    background-color: aqua;
    width: 100%;
    ;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 20%;
    padding: 22px;
}

.size {
    height: 20px;

}


#iconpic {
    width: 100px;
    position: absolute;
    top: 70px;
    left: 40px;
    border-radius: 50%;

}


#gear-img {
    display: flex;
    align-items: center;
    gap: 10px;


}

#map-img {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;


}

#bottem {
    border: 2px black;
    border-style: solid;
    border-top-style: none;
    width: 600px;
    height: 220px;
    padding: 20px;

}

.secdev {
    width: 600px;

    border: 2px;
    border-style: solid;
    border-color: gray;


}

.sectitle {
    background-color: black;
    color: white;
    margin: 0%;
    height: 35px;
    padding: 16px;

}

.secdev-1 {
    padding-left: 10px;


}

.thirddev {
    border: 2px;
    border-style: solid;
    border-color: gray;
    width: 300px;


}

.icons-1 {
    width: 40px;
    padding-left: 10px;
}

.icons-2 {
    width: auto;
    height: 30px;
    padding-left: 10px;

}

.inline-class {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.thdiv {
    width: 300px;
    border: 2px;
    border-style: solid;
    border-color: gray;
    margin-top: 5%;

}

.group1 {
    display: inline-block;

    position: absolute;
    left: 15%;
    top: 20%
}

.group2 {
    display: inline-block;
    position: absolute;
    left: 55%;
    top: 20%;



}

#title-5,
#title-4 {
    background-color: black;
    color: white;
}

h2 {
    padding-left: 10px;
}

#aend {
    color: blue;

}

#enddiv {
    width: 300px auto;
    height: 40px;
    border-top: 2px;
    border-style: solid;
    border-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}