<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>playground</title>
  </head>

  <style>
    .box {
      width: 20%;
      height: 100px;
    
    }
    * {
      margin: 2% 2% 2% 2%;
    }
    h1 {
      margin: 5%;
      text-align: center;
    }
    main{display: flex;
      justify-content: space-evenly;}
  
   
  </style>
  <body>
    <h1>Welcome!</h1>
    <main>

      {% for i in range(x) %}
        <div class="box" style="background-color: {{ color }};"></div>
      {% endfor %}

    </main>
  </body>
</html>
