.nav {display:flex;
    background-color: black;
    align-items: center;
    justify-content:space-between;
    margin-right:20px;
    padding: 0px 20px 0px 20px ;
    
    
}
    
.nav-links{
    flex:1;

     display:flex;
     list-style-type: none;
     justify-content:space-around;
     align-items: center;
     
    
       

}
 h1{
    color:white;
 }

 .btn {
    background-color: rgb(41, 41, 168) ;
    box-shadow: 3px 3px 3px rgb(41, 41, 168) ;
    color: white;
    width:100px ;
    height:25px;
 }
 a{text-decoration: none;
color: white;}
 .active{
   font-weight: bold;
   font-family: 'Roboto'}
   
h1{ font-family: 'Roboto'}
.nav-title{
   flex:1;
}
