#main{
width: 600px;
height: 400px;
margin: 50px auto;
position: relative;
}
#top {
background-color:aqua;
width: 100%;;
align-items: center;
display: flex;
justify-content: center;
height: 20%;
padding: 22px;
}

.size{
    height: 20px;
    
}


#iconpic {
width: 100px;
position: absolute;
top: 70px;
left: 40px;

}


#gear-img{
    display: flex;
    align-items: center;
    
    
}

#map-img {
    display: flex;
    align-items: center;
    justify-content:start;


}
#bottem{
    border: 2px black;
    border-style: solid;
    border-top-style: none;
    width:600px;
    height: 220px;
    padding: 20px;

}
h1{
    margin-top: 50px;

}